.slider_container{
    margin: auto;
    width: 600px;
    padding: 30px;
    background-color: rgb(184, 204, 228);
}
.slider{
    list-style: none;
}
.menu{
    list-style: none;
    margin: 20px;
    text-align: center;
}
.menu li{
    display: inline-block;
    text-align: center;
}
.menu li a{
    display: inline-block;
    color: #fff;
    text-decoration: none;
    background-color: rgb(208, 227, 240);
    padding: 10px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    border-radius: 100%;
}
.slide_img{
    height: 400px;
    width: 600px;
}
ul,li{
    margin: 0;
    padding: 0;
}
ul.slider{
    position: relative;
    width: 600px;
    height: 300px;
}
ul.slider li{
    transition: all 1s ease-out;
    height: inherit;
    width: inherit;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    background-color: #ffffff;
    transition: opacity .5s;
}
ul.slider li img{
    height: 300px;
    width: 100%;
    object-fit: cover;
}
ul.slider li:first-child{
    opacity: 1;
}
ul.slider li:target{
    opacity: 1;
}